<h1>Simple Admin Menu</h1>
<div id="stories">
  <ul>
    <li><%= link_to 'Users', admin_users_path %></li>
    <li>Stories: <%= link_to 'All', admin_stories_path %>, <a href = "admin/pending">Pending</a></li>
    <li><%= link_to 'Translations', admin_translations_path %></li>
    <li><%= link_to 'Languages', admin_languages_path %></li>
  </ul>
</div>
