<h1>Simple Admin Menu</h1>
<div id="stories">
  <ul>
    <li><%= link_to 'Stories', admin_stories_path %></li>
    <li><%= link_to 'Translations', admin_translations_path %></li>
    <li><%= link_to 'Languages', admin_languages_path %></li>
  </ul>
</div>
