<h1>New Stories to review</h1>

<%= link_to 'Add a new story', new_admin_story_path %>

<div id="stories">
  <%= render :partial => @stories %>
</div>

<%= link_to 'Add a new story', new_admin_story_path %>
