html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

*:focus {
  outline: 0; }

body {
  line-height: 1;
  color: black;
  background: white; }

ol, ul {
  list-style: none; }

table {
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

blockquote:before, blockquote:after, q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

@font-face {
  font-family: 'Museo Slab';
  font-style: italic;
  src: url('/fonts/Museo_Slab_500italic.eot');
  src: local('Museo Slab 500 Italic'), local('MuseoSlab-500Italic'), url('/fonts/Museo_Slab_500italic.woff') format('woff'), url('/fonts/Museo_Slab_500italic.ttf') format('truetype'), url('/fonts/Museo_Slab_500italic.svg#MuseoSlab-500Italic') format('svg'); }

@font-face {
  font-family: 'Museo Slab';
  font-style: normal;
  src: url('/fonts/Museo_Slab_500.eot');
  src: local('Museo Slab 500'), local('MuseoSlab-500'), url('/fonts/Museo_Slab_500.woff') format('woff'), url('/fonts/Museo_Slab_500.ttf') format('truetype'), url('/fonts/Museo_Slab_500.svg#MuseoSlab-500') format('svg'); }

html, body {
  min-height: 100%; }

body {
  background: #423b1f url(/images/pattern_30.png);
  font-family: "Museo Slab"; }

#wrapper {
  min-height: 100%;
  width: 800px;
  margin: 0 auto;
  background: white url(/images/pattern_30.png);
  border: 10px solid #665533;
  border-top: 0;
  padding: 0 30px 30px;
  -moz-border-radius-bottomleft: 20px;
  -webkit-border-bottom-left-radius: 20px;
  border-bottom-left-radius: 20px;
  -moz-border-radius-bottomright: 20px;
  -webkit-border-bottom-right-radius: 20px;
  border-bottom-right-radius: 20px; }

#header {
  display: inline-block;
  display: block;
  margin-bottom: 15px; }
  #header:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  #header h1#logo {
    float: left;
    margin-top: 10px; }
  #header a.donate_button {
    float: right;
    margin-top: 30px;
    display: block; }
  #header div#menu {
    clear: both;
    display: inline-block;
    display: block;
    padding-top: 10px; }
    #header div#menu:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    #header div#menu ul {
      display: inline-block;
      display: block;
      background: #114 url(/images/pattern_30.png);
      border: 3px solid #114;
      -moz-border-radius: 6px;
      -webkit-border-radius: 6px;
      border-radius: 6px; }
      #header div#menu ul:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden; }
      #header div#menu ul li {
        float: left; }
        #header div#menu ul li a {
          color: white;
          display: block;
          padding: 8px 12px;
          text-decoration: none;
          font-size: 16px; }

.pagination {
  text-align: right;
  padding-right: 5px;
  padding-top: 10px; }
  .pagination a, .pagination .disabled {
    padding: 2px 2px; }
  .pagination .disabled {
    color: #ccc; }
  .pagination .current {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 2px 8px;
    color: #fff;
    background: #3d6d90; }

a.sort {
  font-size: 14px;
  padding-right: 20px;
  padding-bottom: 10px; }
  a.sort.asc {
    background: url(/images/up.png) no-repeat top right; }
  a.sort.desc {
    background: url(/images/down.png) no-repeat top right; }
