body {
  background: #F1EDDB url(/images/bg.png) repeat 0 0;
  font: 62.5%/100% "Lucida Grande", Helvetica, Verdana, Arial, sans-serif;
  color: #959595;
  border-top: 5px solid #E5E0CE;
  margin: 0;
  padding: 40px 0;
  text-align: center;
}

p, ul, label, input, textarea { font-size: 1.3em; line-height: 1.8em; font-family: "Lucida Grande", Helvetica, Verdana, Arial, sans-serif }


h1, h2 {
  font-family: "Lucida Fax", Georgia, Times, serif;
  color: #665E53;
  text-shadow: #EEE 2px 2px 0;
}

h1 { 
  font-size: 3.4em;
  line-height: 1em;
  padding: 0;
  margin: 20px 0 10px 0;
}

h2 { 
  font-size: 2.1em; 
  line-height: 1em;
  margin: 0 0 20px 0;
  color: #006FAA;
}

h3 { 
  color: #666; 
  text-transform: uppercase; 
  font-size: 1.3em; 
}

a { outline: none; color: #006FAB; }

a:hover { text-decoration: none }

a img { border: 0 }

#wrapper {
  width: 960px;
  margin: 0 auto;
  text-align: left;
  background: #FFF;
  border: 1px solid #D4CFBD;
  border-left: 0;
  border-top: 0;
}

#header { 
  background: #877D6E url(/images/bg-header.png) repeat 0 0;
  color: #FFF;
  text-shadow: #6D6558 1px 1px 0;
  padding: 10px 15px;
  text-align: right;
  line-height: 30px;
}

  #header p {
    float: left;
    margin: 0;
    padding: 0;
  }

  #header a {
    font-weight: bold;
    color: #AEE31A;
    border-bottom: 2px solid #AEE31A;
    text-decoration: none;
  }
  
  #header ul {
    list-style: none;
    display: inline;
    margin: 0;
    padding: 0;
  }
  
  #header li {
    list-style-type: none;
    display: inline;
    margin: 0 0 0 15px;
    padding: 0;
  }
  
  #header li a {
    padding: 5px 10px;  
    border: 0;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
  }
  
  #header li a:hover {
    background: #9B9182;
  }
  
  #header li a:active {
    color: #FdF56B;
  }
  
  #header li a.on {
    background: #FFF;
    color: #877D6E;
    text-shadow: none;
  }
  
#content {
  padding: 10px 15px;
}

  #content p { line-height: 1.4em }
  
#stories { 
  padding: 15px 0;
}

  .story {
    border-left: 3px solid #EEE;
    padding: 0 0 0 20px;
    margin: 0 0 30px 0;
  }
  
  .story p {
    color: #666;
  }
  
  .story p.byline {
    color: #959595;
  }

#footer { 
  padding: 10px 15px;
/*  border-top: 3px solid #EEE;
*/}

  #footer p {
    padding: 0;
    margin: 0;
  }
  
/* Forms
*/

form fieldset {
  margin: 0 0 10px 0;
  border: 0;
  padding: 0;
}

form legend {
  font-weight: bold;
}

form label {
  display: inline-block;
  vertical-align: top;
  width: 180px;
  font-weight: bold;
}

form p.info {
  margin: 5px 0 10px 183px;
  font-size: 1em;
  
}

form input.text-input {
  width: 250px;
  padding: 3px;
}

form textarea {
  width: 725px;
  height: 200px;
  padding: 3px;
}

form fieldset ol {
  margin: 0;
  padding: 0;
}

form fieldset li {
  list-style: none;
  padding: 5px;
  margin: 0;
}

form fieldset li em {
  color: #F00;
  font-weight: bold;
}

form fieldset .submit-button {
  margin: 0 0 0 183px;
  padding: 10px;
  border: 0;
  cursor: pointer;
  font-weight: bold;
  background: #877D6E;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  color: #AEE31A;
  text-shadow: #6D6558 1px 1px 0;
}

form fieldset .submit-button:hover {
  background: #9B9182;
}

.clearfix {
  height: 0;
  clear: both;
  visibility: hidden;
}
