<h1>About Haitian Voices</h1>

<div id="stories">

  <div class="story">
    <p>
      HaitianStories.com was created by <%= link_to 'Intridea', 'http://intridea.com' %> as part of 
      the <%= link_to 'Crisis Commons', 'http://crisiscommons.org' %> relief efforts.
    </p>
    
    <p>
      This site is intended as a repository for the survivor stories of Haitians and their families.
    </p>
  </div>

</div>