<h1>Privacy Policy</h1>

<div id="stories">

  <div class="story">

  <h2><i>Haitian 
Voices </i>Privacy Policy</b></h2>

<p>Effective Date: 
January 23, 2010 <br></p>
<p>Welcome to <i>
Haitian Voices</i>. This Website is owned and operated by volunteers of <a href="http://www.crisiscommons.org">CrisisCommons.org</a>.</p>
<p><i>Haitian 
Voices </i>is committed to protecting the privacy of our visitors. This 
Privacy Policy discloses how we collect, protect and use information 
you provide us online, as well as how we protect your privacy. By using 
the pages on this site, you are accepting the practices described in 
the Privacy Policy. <br></p>
<p>If our policy 
practices change in the future, we will let you know by posting the 
policy changes on our website. However, we will treat all personal information 
we collect in accordance with the privacy notice in effect at the time 
the information is collected.</p>

<h2><b><i>Haitian 
Voices</i> will never sell your personal information to anyone.</b></h2>
<p><i>Haitian 
Voices</i> respects the privacy of the visitors and users (&quot;Users&quot;) 
to our website, <a href="http://www.haitianvoices.org">http://www.haitianvoices.org</a></a>. This Privacy Policy is intended to 
inform you of our policies and practices regarding the collection, use 
and disclosure of any personal information you submit to us through 
the <i>Haitian Voices</i> website. <br></p>

<p>This Privacy 
Policy is incorporated into and is subject to the <i>Haitian Voices</i> 
Terms of Use. Your use of <i>Haitian Voices</i> and any personal information 
you provide on <i>Haitian Voices</i> remains subject to the terms of 
this Privacy Policy and our Terms of Use.</p>
<h2><b>The Information 
<i>Haitian Voices</i> Collects</b></h2>

<p><u>User Provided 
Information:</u> You provide certain personally identifiable information 
(such as your name and e-mail address) to <i>Haitian Voices</i> when 
sharing your story. The extent of the information you provide is at 
your own discretion. <br></p>
<p><u>Cookies 
Information</u>: When you visit <i>Haitian Voices</i>, we may send one 
or more cookies to your computer that uniquely identifies your browser. </p>
<p><u>Log File 
Information</u>: When you use <i>Haitian Voices</i>, our servers automatically 
record certain information that your web browser sends whenever you 
visit any web site. These server logs may include information such as 
your web request, IP address and browser.</p>

<h2><b>The Way 
<i>Haitian Voices</i> Uses Information</b></h2>
<p>If you submit 
personally identifiable information to us through <i>Haitian Voices</i>, 
then we use your personal information to operate, maintain and provide 
to you the features and functionality of <i>Haitian Voices</i>.</p>
<p>Any personal 
information or digital content (such as photos and videos) that you 
voluntarily disclose online becomes publicly available and can be collected 
and used by others. Whatever personal information you share on <i>Haitian 
Voices</i> is displayed to other Users when you upload digital content. 
Any digital content that you submit to <i>Haitian Voices</i> may be 
redistributed through the Internet and other media channels and may 
be viewed by the general public. <br></p>

<p>We do not use 
your email address or other personally identifiable information to send 
commercial or marketing messages without your consent or except as part 
of a specific program or feature for which you will have the ability 
to opt-in or opt-out.  <br></p>
<p>We use both 
your personally identifiable information and certain non-personally-identifiable 
information (such as anonymous User usage data, cookies and IP addresses, 
etc.) to improve the quality and design of <i>Haitian Voices</i> and 
to create new features, functionality and services by storing, tracking 
and analyzing User preferences and trends.</p>
<h2><b>When 
<i>Haitian Voices</i> Discloses Information</b></h2>
<p>We do not share 
your personally identifiable information (such as name or email address) 
with other, third-party companies for their commercial or marketing 
use without your consent or except as part of a specific program or 
feature for which you will have the ability to opt-in or opt-out.
</p>
<p>We may release 
personally identifiable information and/or non-personally-identifiable 
information if required to do so by law, or in the good-faith belief 
that such action is necessary to comply with state and federal laws 
(such as U.S. Copyright Law) or respond to a court order, subpoena or 
search warrant. <br></p>
<p><i>Haitian 
Voices</i> also reserves the right to disclose personally identifiable 
information and/or non-personally-identifiable information that <i>Haitian 
Voices</i> believes, in good faith, is appropriate or necessary to enforce 
our Terms of Use, take precautions against liability, to investigate 
and defend itself against any third-party claims or allegations, to 
assist government enforcement agencies, to protect the security or integrity 
of our website, and to protect the rights, property, or personal safety 
of <i>Haitian Voices</i>, our Users or others.</p>
<h2><b>Data Security</b></h2>

<p><i>Haitian 
Voices</i> uses commercially reasonable physical, managerial and technical 
safeguards to preserve the integrity and security of your personal information. 
We cannot, however, ensure or warrant the security of any information 
you transmit to <i>Haitian Voices</i> and you do so at your own risk.</p>
<h2><b>Third Party 
Links</b></h2>
<p>Our provision 
of a link to any other website or location is for your convenience and 
does not signify our endorsement of such other website or location or 
its contents. We have no control over, do not review, and cannot be 
responsible for, these outside websites or their content. Please be 
aware that the terms of our Privacy Policy do not apply to these outside 
websites.</p>
<h2><b>Childrens&#39; 
Privacy</b></h2>

<p>Out of special 
concern for children&#39;s privacy, <i>Haitian Voices</i> does not knowingly 
accept online personal information from children under the age of 13. 
If you are under 13 years of age, please do not use or access the <i>
Haitian Voices</i> site at any time or in any manner.</p>
<h2><b>Change 
of Control</b></h2>
<p>If <i>Haitian 
Voices</i> administration and management changes control, we will provide 
notice via the website before users are subject to a different privacy 
policy.</p>

<h2><b>Contact 
Us</b></h2>
<p>You may update 
or correct your personal information at any time by sending an email 
to <a href="mailto:haitianvoices@gmail.com">haitianvoices@gmail.com</a>. Please note that media files uploaded 
by Users to the <i>Haitian Voices</i> website cannot be removed and 
remain subject to our Terms of Use. <br></p>
<p>Please contact <i>
Haitian Voices</i> with any questions or comments about this Privacy 
Policy, your personal information, your consent or your opt-in or opt-out 
choices by contacting us by e-mail at <a href="mailto:haitianvoices@gmail.com">haitianvoices@gmail.com</a>.</p>

<h2>Privacy Policy Updates</h2>

<p>This Privacy 
Policy is subject to revision, and if we make any substantial changes 
in the way we collect, use or disclose your Personal Information, we 
will post a notice on this page or send you an email. If you object 
to any such changes, you must cease using the <i>Haitian Voices</i> 
website and services. Continued use of the <i>Haitian Voices</i> website 
following notice of any such changes shall indicate your acknowledgement 
of such changes and agreement to be bound by the terms and conditions 
of such changes.</p>

  </div>
</div>
