---
development: &defaults
  adapter: mysql
  database: haitianvoices_development
  username: root
  password: 
  host: localhost
  log_stream: STDOUT
  log_level: 0

test:
  <<: *defaults
  database: haitianvoices_test
  log_stream: nil

production:
  <<: *defaults
  database: haitianvoices_production
  log_stream: nil
