<div class='story'>

  <% if story.title %>
    <h3><%= link_to story.title, story_path(story) %></h3>
    <p>
      <%= display(story.body) %>
      <% if !(story.pictures.blank?) %>
        <div>
          <% story.pictures.each do |pic| %>
            <%= image_tag pic.photo.url(:thumb) %>
          <% end %>
        </div>
      <% end %>
    </p>
  <% end %>

</div>
