<div class='story'>
  <% if story.title %><h3><%= link_to story.title, story_path(story) %></h3><% end %>
  <div class='body'>
    <% if !(story.pictures.blank?) %><div class='media'>
      <div class='picture'>
        <% story.pictures.each do |pic| %>
          <%= image_tag pic.photo.url(:thumb) %>
        <% end %>
      </div>
    </div><% end %>
    <p class='story'><%= display(story.body) %></p>
  </div>
</div>