<div class='story'>
  <% if story.title %>
    <h3><%=h story.title %></h3>
  <% end %>
  <p>
    <%= display(story.body) %>
    <% if !(story.pictures.blank?) %>
      <div>
        <% story.pictures.each do |pic| %>
          <%= image_tag pic.url(:thumb) %>
        <% end %>
      </div>
    <% end %>
  </p>
</div>