<h1>Haitian Voices</h1>

<h2>All Stories</h2>
<div id="stories">  
  <%= story_date_sort %>
  <%= will_paginate(@stories) %>
  <%= render :partial => @stories %>
  <%= will_paginate(@stories) %>
</div>
