
<div class='story'>

<% if @story.title %><h3><%= @story.title %></h3><% end %>

  <div class='body'>

    <p class='story'><%= @story.body %></p>

    <% if !(@story.pictures.blank?) %>
      <div class='picture'>
        <% @story.pictures.each do |pic| %>
          <%= image_tag pic.photo_file_name %>
          <%= pic.caption %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>